name: kthcloud-ci-beta
"on":
  push:
    branches:
    - beta
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        registry: registry.cloud.cbh.kth.se
        username: ${{ secrets.BETA_DOCKER_USERNAME }}
        password: ${{ secrets.BETA_DOCKER_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: registry.cloud.cbh.kth.se/deploy-3de025ba-ed43-43e0-ab50-03c04b7ef968/landing-beta
